### Top Left and Lower Right to Boundary ###

In [ ]:
from gasp3.gt.to.shp import coords_to_boundary

TOP_LEFT    = (16.4789, 68.5588)
LOWER_RIGHT = (17.7556, 68.3362)
EPSG        = 4326
RESULT      = r'D:\indev\matereo\lmt\lmt_hba.shp'
OUT_EPSG    = 32633

coords_to_boundary(TOP_LEFT, LOWER_RIGHT, EPSG, RESULT, outEpsg=OUT_EPSG)

### Raster Extent to Feature Class ###

In [ ]:
from gasp3.gt.to.shp import rstext_to_shp

inRst = r'D:\phd_auto_sat_class\sat_img\T32UMV_20190704T103029_B02_10m.jp2'
outShp = r'D:\phd_auto_sat_class\lmt\lmt_h.shp'

rstext_to_shp(inRst, outShp)

### SQL to ESRI Shapefile ###

In [ ]:
conPSQL = {
    'HOST' : 'localhost', 'PORT' : '5432', 'USER' : 'postgres',
    'PASSWORD' : 'admin', 'DATABASE' : 'expvgi_db'
}

from gasp3.gt.to.shp import psql_to_shp

Q = (
    "SELECT fid, CAST(date AS text) AS data, CAST(timm AS text) AS hora, (360 - dire) AS cell_direction, "
    "tmp_user AS place, real_direction, loc, "
    "ST_X(loc) AS x_coord, ST_Y(loc) AS y_coord "
    "FROM evgifront_fireloc_contrib "
    "WHERE tmp_user = 'Cabra '"
)

print(Q)

psql_to_shp(
    conPSQL, Q, '/home/jasp/tst_fire.shp', api='pgsql2shp',
    epsg=3763, geom_col='loc', tableIsQuery=True
)

### All tables in PostgreSQL Database to TXT File ###

Each table in one database is converted to a single TXT File.

In [ ]:
from gasp3.to import db_to_tbl

SPLITTER   = '\t'
OUT_FOLDER = r'C:\xpto\jside-atlas\db'
conParam   = {
    "HOST" : "localhost", "USER" : "postgres", "PORT" : "5432",
    "PASSWORD" : "admin", "DATABASE" : "jside_db_tmp"
}

db_to_tbl(conParam, "ALL", OUT_FOLDER, txtDelimiter=SPLITTER, outTblF='txt')